@media screen 
	and (min-device-width: 1200px)
	and (max-device-width: 1600px)
	and (-webkit-min-device-pixel-ratio: 1)
	

.right
	display: none

.navbar
	text-align: center

.container
	width: 400px
	height: auto

.three
	display: none

.kombi
	width: 400px
	height: auto

footer
	align-content: center